*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes rgb{
    0%{color: #00c2ff;}
    50%{color: blue;}
    75%{color: blueviolet}
    100%{color: #00c2ff;}
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.logo img{
    height: 80px;
}

.hesquerda{
    display: flex;
    align-items: center;
}

.hesquerda ul{
    display: flex;
    list-style-type: none;
    padding-left: 40px;
}

.hesquerda > ul > li{
    padding-left: 32px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.hdireita{
    display: flex;
    align-items: center;
}

.hdireita > i {
    font-size: 1.5rem
}

.hdireita > span {
    font-size: 1.3rem;
    font-weight: 800;
    padding-left: 16px;
}

.btn-01 {
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 16px;
    font-weight: 600;
}

.btn-01:hover{
    background-color: blueviolet;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: rgba(187, 182, 182, 0.8) 4px 4px 8px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "h h h"
    "s s s"
    "f f f"
    "r r r";
}

header{
    grid-area: h;
    background-image: url(imagens/sonicmov.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 100px;
}

header > div > ul > li{
    animation: rgb 1s linear infinite;
}

main{
    grid-area: s;
    background-color: blue;
    height: 500px;
}

section{
    grid-area: f;
    background-color: #00c2ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    height: 600px;
}

form{
    display: flex;
    flex-direction: row; 
}

form > div{
    display: flex;
    flex-direction: row; 
}

.novo{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

input[type="submit"]{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: blue;
}

input[type="submit"]:hover{
    background-color: blueviolet;
}

footer{
    color: white;
    grid-area: r;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

header > img{
    height: 100px;
}

header > a{
    background-color: aqua;
    font-size: 2rem;
    border-radius: 50px;
    padding: 10px;
}

a{
    text-decoration: none;
}

.caixa{
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    width: 100vw;
    margin: 30px 30px;
    display: flex;
    flex-direction: row;
    /* espaçamento entre os blocos */
    justify-content: space-evenly;
    border-radius: 25px;
    padding-left: 10vw;
}

.card{
    width: 300px;
}

.cards img {
    height: 100px;
    width: 150px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.cardinfo {
    width: 150px;
    height: 100px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.cardinfo:hover{
    background-color: blueviolet;
}

.cardnome{
    color: white;
    font-size: 20px;
    font-weight: 30px;
    padding-bottom: 30px;
}
.cardnome i{
    padding-right: 0px;
}

.cardnome p{
    padding-top: 30px;
    font-weight: 600;
}

.card:hover{
    transform: scale(0.9);
    transition: 0.5s;
}


.linha{
    align-self: center;
    width: 80vw;
    height: 5px;
    background-color: blue;
    margin: 20px 0;
}


/* Estilos do Botão de Abertura */
.openbtn {
    cursor: pointer;
}
  
/* Estilos do Modal */
.checkmodal {
    display: none;
}

.modal {
    /* talves remover fixed position */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* talvez mudar background color */
    background-color: rgba(0,0,0,0.5);
    display: none;
}

/* Conteúdo do Modal */
.modalcont {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

/* Fechar Botão */
.closebtn {
    color: #9d9797;
    position: absolute;
    font-size: 20px;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
}

/* Mostrar o Modal quando o checkbox estiver checado */
.checkmodal:checked ~ .modal {
    display: block;
}